<!--
  Generated template for the FriendFace component.

  See https://angular.io/docs/ts/latest/api/core/index/ComponentMetadata-class.html
  for more info on Angular 2 Components.
-->

<ion-item (click)="presentActionSheet()">
      <ion-avatar item-left>
        <img [src]="img">
      </ion-avatar>
      <h2>{{name}}</h2>
      <h3>{{status}}</h3>
</ion-item>