<!--
  Generated template for the Login page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->



<ion-header>
  <ion-navbar>
    <ion-title>AppZone</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

<form (ngSubmit)="loginForm()">
  <ion-list inset>
    <ion-item>
      <ion-label>Usuário:</ion-label>
      <ion-input [(ngModel)]="email" name="email" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Senha:</ion-label>
      <ion-input [(ngModel)]="password" name="password" type="password"></ion-input>
    </ion-item>

  </ion-list>

  <ion-grid padding>
    <ion-row>
      <ion-col col-8><a> Esqueceu a senha?</a></ion-col>
      <ion-col col-4 (click)='goToSignUp()'><a> Cadastre-se </a></ion-col>
    </ion-row>
  </ion-grid>

  <div padding>
    <button ion-button color="primary" type="submit" block [disabled]="isSendingForm">
      <span *ngIf="!isSendingForm">Entrar</span>
      <ion-spinner *ngIf="isSendingForm" name="circles" color="light"></ion-spinner>
    </button>
  </div>
</form>
</ion-content>