page-chat {

    .img-circle{
        width: 52px;
        height: 52px;
        border-radius: 50%;
    }

    ion-content{
         background: url(../assets/img/bg-chat.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    ::-webkit-scrollbar {
        width: 0.3em;
    }
    
    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 1px rgba(0,0,0,0.3);
        -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.3);
    }
    
    ::-webkit-scrollbar-thumb {
        background-color: darkgrey;
        outline: 1px solid slategrey;
    }

    ion-item{
        background-color: transparent !important;
    }

    .scroll-content{
        padding-left: 0px;
        padding-right: 0px;
        margin-top: 30px !important;
        margin-bottom: 50px !important;
        padding-bottom: 0px !important;
    }

    ion-footer.footer.footer-md::before{
        height: 0px !important;
    }
}
