<!--
  Generated template for the Chat page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header primary>
  <ion-navbar>      
    <ion-title>{{firstName+' '+lastName}}</ion-title> 
     <ion-buttons end>
        <button ion-button icon-only>
          <a href="#">  <img class="img-responsive img-circle" src="{{picture}}"> </a>
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <ion-list no-lines>
    <ion-item>
      <chat-bubble position="left" content="Am I dreaming?"></chat-bubble>

      <chat-bubble position="left" content="1,2,3 testando"></chat-bubble>

      <chat-bubble position="right" content="1,2,3 testando"></chat-bubble>

      <chat-bubble position="right" content="Uma mensagem gigante somente para teste, oi alô, testando"></chat-bubble>
    </ion-item>
  </ion-list>

</ion-content>


<ion-footer padding>
  <ion-toolbar>
    <ion-input type="text" placeholder="Digite aqui..."></ion-input>
    <ion-buttons end>
      <button ion-button icon-right color="primary">
        <ion-icon name="send"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>