page-profile {

  ion-list-header {
    margin-bottom: 0 !important;
    padding-left: 10px !important;
  }

  .item-icon{
    font-size: 1em;
    padding-right: 15px;
  }

  .social-nicknames {
    font-size: 15px;
  }

  .name-header{
    font-size: 20px;
  }
}

