<!--
  Generated template for the Profile page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Perfil</ion-title>
  </ion-navbar>

</ion-header>




<ion-content class="smooth-scroll">

	<edit-slider></edit-slider>


	<ion-list>
		<ion-item *ngIf="!hasDatabaseInfo">
			<ion-note item-start>Altere seus dados no botão superior direito</ion-note>
		</ion-item>

		<ion-item>
			<ion-note item-start *ngIf="!user.displayName">Nome público</ion-note>
			<span class="name-header">{{ user.displayName }}</span>
		</ion-item>
	</ion-list>

	

	<ion-list>
		<ion-list-header>
    		Status e Telefone
  		</ion-list-header>

		<ion-item>
			<ion-icon class="item-icon" name="book" item-start color="primary"></ion-icon>
			<ion-note item-start *ngIf="!user.status">Status</ion-note>
			{{ user.status }}
		</ion-item>

		<ion-item>
			<ion-icon class="item-icon" name="call" item-start color="primary"></ion-icon>
			<ion-note item-start *ngIf="!user.phoneNumber">Telefone</ion-note>
			{{ user.phoneNumber }}
		</ion-item>
	</ion-list>

	<ion-list>
		<ion-list-header>
    		Redes
  		</ion-list-header>
		<ion-item *ngIf="!user.instagram && !user.twitter && !user.snapchat">
			<ion-note item-start>Redes Sociais</ion-note>
		</ion-item>
		<ion-item *ngIf="user.instagram">
			<ion-icon class="item-icon" name="logo-instagram" item-start color="primary"></ion-icon>
			<span class="nicknames">{{ user.instagram }}</span>
		</ion-item>

		<ion-item *ngIf="user.twitter">
			<ion-icon class="item-icon" name="logo-twitter" item-start color="primary"></ion-icon>
			<span class="nicknames">{{ user.twitter }}</span>
		</ion-item>

		<ion-item *ngIf="user.snapchat">
			<ion-icon class="item-icon" name="logo-snapchat" item-start color="primary"></ion-icon>
			<span class="nicknames">{{ user.snapchat }}</span>
		</ion-item>

	</ion-list>

	<ion-fab right bottom>
    	<button ion-fab (click)="openEdit('name')"><ion-icon name="create"></ion-icon></button>
  	</ion-fab>

</ion-content>
