<!--
  Generated template for the GroupCard component.

  See https://angular.io/docs/ts/latest/api/core/index/ComponentMetadata-class.html
  for more info on Angular 2 Components.
-->
<ion-card>
    <img src="{{img}}">   

    <ion-item>
      <ion-icon name="pricetags" item-left large></ion-icon>
      <h2>{{name}}</h2>
      <p>{{location}}</p>
    </ion-item>

    <ion-item>
      <ion-icon name="book" item-left large ></ion-icon>
      <p>"{{desc}}"</p>
    </ion-item>

    <ion-item>
      <span item-left>({{km}} KM)</span>
      <ion-badge item-left>{{amount}} pessoas</ion-badge>
      <button ion-button icon-left clear item-right>
        <ion-icon name="navigate"></ion-icon>
        Entrar
      </button>
    </ion-item>     
</ion-card>