<!--
  Generated template for the UserChat component.

  See https://angular.io/docs/ts/latest/api/core/index/ComponentMetadata-class.html
  for more info on Angular 2 Components.
-->

<ion-item>
  <ion-avatar item-left>
    <a href="#">  <img class="img-responsive" src="http://demo.syscap.in/app/public/global/img/dice-128.png"> </a>
  </ion-avatar>
    <h2>{{userName}} </h2>
    <h3 ion-text primary> <span class="lastMsg"> {{lastMsg.length > 20 ? lastMsg.substring(0,20)+'...' : lastMsg}} </span>   <ion-note item-right>{{lastMsgTime}}</ion-note> </h3>
  <template *ngIf="returnInt(unreadMsg) > 0">
    <ion-badge item-right>{{unreadMsg}}</ion-badge>   
  </template>
  </ion-item>
