 <ion-header>
      <app-header></app-header>
      <ion-segment color="primary" [(ngModel)]="escolha">
        <ion-segment-button value="grupos">
          Grupos
        </ion-segment-button>
          <ion-segment-button value="pessoas">
            Pessoas
          </ion-segment-button>
      </ion-segment>
</ion-header>

<ion-content class="remove-scroll">

  <div [ngSwitch]="escolha">

    <ion-list *ngSwitchCase="'grupos'">
      <group-chat *ngFor="let msg of groupsMsgs" (click)='goToChat(msg.preco)' groupName="{{msg.nome}}" lastMsg="Testando"  lastMsgName="Bruno" lastMsgTime="09:43"></group-chat>
    </ion-list>

      <ion-list *ngSwitchCase="'pessoas'">
        <user-chat userName="Reynnan" lastMsg="Life is cool" lastMsgTime="03:33" unreadMsg="2"></user-chat>
      </ion-list>

  </div>

</ion-content>

<ion-fab right bottom>
  <button ion-fab color="primary" ion-buttom small><ion-icon name="md-add"></ion-icon></button>
  <ion-fab-list side="top">
    <button color="primary" ion-fab>
        <ion-icon color="light" name="md-people"></ion-icon>
    </button>
    <button (click)='goToFriends()' color="primary" ion-fab>
      <ion-icon color="light" name="md-chatboxes"></ion-icon>
    </button>
  </ion-fab-list>
</ion-fab>
