<ion-header>
  <ion-navbar>
    <ion-title>
      Cadastro
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <ion-list>
    <form (ngSubmit)="signUpForm()">
      <ion-item>
        <ion-label floating>Email</ion-label>
        <ion-input [(ngModel)]="email" name="email" type="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Senha</ion-label>
        <ion-input [(ngModel)]="password" name="password" type="password"></ion-input>
      </ion-item>
       <button ion-button color="primary" block> <span style="margin-right: 25px;"> Próximo </span>  <ion-icon name="arrow-round-forward"></ion-icon></button>
    </form>
  </ion-list>
 
</ion-content>
