<!--
  Generated template for the FindGroups page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>
      Grupos
    </ion-title>
  </ion-navbar> 
</ion-header>

<ion-content>
  <group-card img="http://www.infonet.com.br/sysinfonet/images/secretarias/cidade/grande-shoppingjardins_divulgacao_061015.jpg" name="Cinema Shopping Jardins" desc="Grupo para encontros no cinema" location="Av. Ministro Geraldo Barreto Sobral, 215" km="8.1" amount="203"></group-card>
  <group-card img="https://blogs-images.forbes.com/emc/files/2014/02/Cloud-Computing-cap.jpg" name="Nuvemhost" desc="Soluções de Internet" location="Rua H4" km="0.1" amount="9"></group-card>
  <group-card img="http://aracajucard.com.br/wp-content/uploads/2015/04/posto-unit.jpg" name="Alunos Unit - Farolândia" desc="Galera da Unit" location=" Av. Murilo Dantas, 300 " km="1.3" amount="65"></group-card>
</ion-content>
