page-find-groups {
     ::-webkit-scrollbar {
        width: 0.3em;
    }
    
    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.3);
    }
    
    ::-webkit-scrollbar-thumb {
        background-color: darkgrey;
        outline: 1px solid slategrey;
    }
}
