<!--
  Generated template for the Profile page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Edição</ion-title>
  </ion-navbar>

</ion-header>

<ion-fab left bottom>
	<button ion-fab color="danger" (click)="dismiss()"><ion-icon name="close"></ion-icon></button>
</ion-fab>

<ion-fab right bottom>
	<button ion-fab color="secondary" (click)="update()"><ion-icon name="checkmark"></ion-icon></button>
</ion-fab>

<ion-content class="smooth-scroll">
	<ion-list inset>
		<ion-list-header>
    	Dados pessoais
  	</ion-list-header>

		<ion-item>
			<ion-label stacked color="primary">Name</ion-label>
	  	<ion-input type="text" placeholder="Name" [(ngModel)]="mockUser.displayName"></ion-input>
		</ion-item>

		<ion-item>
		  <ion-label stacked color="primary">Data de Nascimento</ion-label>
		  <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="mockUser.birthday"></ion-datetime>
		</ion-item>
		
	</ion-list>

	<ion-list inset>
		<ion-list-header>
    	Status e Telefone
  	</ion-list-header>
		<ion-item>
			<ion-label stacked color="primary">Status</ion-label>
	  	<ion-input type="text" placeholder="Sobre você..." [(ngModel)]="mockUser.status"></ion-input>
		</ion-item>

		<ion-item>
			<ion-label stacked color="primary">Telefone</ion-label>
	  	<ion-input type="text" placeholder="12345678910" [(ngModel)]="mockUser.phoneNumber"></ion-input>
		</ion-item>
	</ion-list>

	<ion-list inset>	
		<ion-list-header>
    	Redes Sociais
  	</ion-list-header>
		<ion-item>
			<ion-label stacked color="primary">Instagram</ion-label>
	  	<ion-input type="text" placeholder="" [(ngModel)]="mockUser.instagram"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label stacked color="primary">Twitter</ion-label>
	  	<ion-input type="text" placeholder="" [(ngModel)]="mockUser.twitter"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label stacked color="primary">Snapchat</ion-label>
	  	<ion-input type="text" placeholder="" [(ngModel)]="mockUser.snapchat"></ion-input>
		</ion-item>
	</ion-list>
</ion-content>
