profile-edit-modal {

    ion-list-header {
        margin-bottom: 0 !important;
        border-bottom: 0px !important;
    }

    ion-item, &:last-child {

        border-bottom-width: 1px !important;
    }

    .scroll-content {
        margin-bottom: 60px !important;
    }

}
