<ion-header>
    <ion-navbar>
         <ion-searchbar 
        *ngIf="toggled"
        [(ngModel)]="queryText"
        (ionInput)="searchContact($event)"
        placeholder="Pesquisar contatos" 
        (ionCancel)="cancelSearch($event)"
        (ionClear) = "cancelSearch($event)"
        [showCancelButton]="true"
        >
        </ion-searchbar>
         
        <ion-buttons end>
            <button *ngIf="!toggled" (click)="toggleSearch()" ion-button icon-only>
                <ion-icon name="search" color="dark"></ion-icon>
            </button>
        </ion-buttons>        
    </ion-navbar>
</ion-header>


<ion-content>
  <ion-list>
    <ion-list-header> Conversas Recentes </ion-list-header>       
       <friend-face *ngFor="let rt of recentlyTalk" name="{{rt.name.first}}" status="{{rt.email}}" img="{{rt.picture.thumbnail}}"> </friend-face> 
  </ion-list>
  <ion-list>
    <ion-list-header> Online </ion-list-header>      
      <friend-face name="Rey" status="I can handle myself" img="https://upload.wikimedia.org/wikipedia/pt/9/90/Rey_-_Star_Wars.jpg"></friend-face>    
      <friend-face name="Luke" status="Your thoughts betray you" img="http://sm.ign.com/ign_br/screenshot/default/luke-skywalker-mark-hamill-star-wars-force-awaken_4c98.jpg"></friend-face>    
  </ion-list>
</ion-content>