page-friends {
    ion-searchbar{
        padding-top: 0px !important;
        padding-bottom: 0px !important;
        padding-right: 0px !important;
        padding-left: 0px !important;
    }
    ion-list-header{
        margin-bottom: 0px !important;
    }
    ion-list{
        margin-bottom: 10px !important;
    }
    ion-list:last-child{
        margin-bottom: 0px !important;
    }
}
