// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.remove-scroll{
    ::-webkit-scrollbar {display: none;}
    ::-moz-scrollbars {display:none;}
    ::-o-scrollbar {display:none;} 
    ::-google-ms-scrollbar {display:none;}
    ::-khtml-scrollbar {display:none;}
}
.smooth-scroll{
    ::-webkit-scrollbar {
        width: 0.3em;
    }
    
    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 1px rgba(0,0,0,0.3);
        -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.3);
    }
    
    ::-webkit-scrollbar-thumb {
        background-color: darkgrey;
        outline: 1px solid slategrey;
    }
}