.group-chat-bubble {
     .message {
    font-size: medium;
    word-wrap: break-word;
    white-space: pre-wrap;
  }

  .message-detail {
    white-space: nowrap;
    font-size: 14px;
    text-align: right;
  }

  .group-chat-bubble {
    border-radius: 5px;
    display: inline-block;
    padding: 10px 18px;
    position: relative;
    margin: 10px;
    max-width: 80%;
  }

  .group-chat-bubble:before {
    content: "\00a0";
    display: block;
    height: 16px;
    width: 9px;
    position: absolute;
    bottom: -7.5px;
  }

  .group-chat-bubble.left {
    background-color: map-get($chat-bubble, background-left);
    float: left;
  }

  .group-chat-bubble.left:before {
    background-color: map-get($chat-bubble, background-left);
    left: 10px;
    -webkit-transform: rotate(70deg) skew(5deg);
  }

  .group-chat-bubble.right {
    background-color: map-get($chat-bubble, background-right);
    color: #000;
    float: right;
  }

  .group-chat-bubble.right:before {
    background-color: map-get($chat-bubble, background-right);
    right: 10px;
    -webkit-transform: rotate(118deg) skew(-5deg);
  }

  .group-chat-bubble.right a.autolinker {
    color: #000;
    font-weight: bold;
  }
}
