<ion-header>

  <ion-navbar>
    <ion-title>Informações Pessoais</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <form (ngSubmit)="detailForm()">
      <ion-item>
        <ion-label stacked color="primary">Nome</ion-label>
        <ion-input [(ngModel)]="name" name="name" type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked color="primary">Sobrenome</ion-label>
        <ion-input [(ngModel)]="lastname" name="lastname" type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked color="primary">Telefone</ion-label>
        <ion-input [(ngModel)]="phone" name="phone" type="tel"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked color="primary">Data de nascimento</ion-label>
        <ion-datetime [(ngModel)]="birthday" name="birthday" type="date" displayFormat="DD/MM/YYYY"></ion-datetime>
      </ion-item>

       <button ion-button color="primary" block> <span style="margin-right: 25px;"> Avançar </span>  <ion-icon name="arrow-round-forward"></ion-icon></button>
    </form>
  </ion-list>
</ion-content>
