<!--
  Generated template for the GroupChat component.

  See https://angular.io/docs/ts/latest/api/core/index/ComponentMetadata-class.html
  for more info on Angular 2 Components.
-->
<ion-item (swipe)="swipeEvent($event)">
  <ion-avatar item-left>
    <a href="#">  <img class="img-responsive" src="../../assets/img/dice-128.png"> </a>
  </ion-avatar>
  <h2>{{groupName}} </h2>
  <h3 ion-text primary><span class="lastMsgName"><b> {{lastMsgName}}: </b></span> <span class="lastMsg"> {{lastMsg.length > 20 ? lastMsg.substring(0,20)+'...' : lastMsg}} </span>   <ion-note item-right>{{lastMsgTime}}</ion-note> </h3>
  <ion-badge item-right>4</ion-badge> 
</ion-item>