group-chat:last-child {
  border-bottom-width: 0px !important;
  margin-bottom: 0px;  
}
group-chat{
    ion-note{
    font-size: 10px;
    font-weight: bold;
    font-style: italic;
  }
  h3{
    color: #808080;
  }
  ion-item{
    background-color: transparent;
    background-size: 75px 75px !important
  }
  ion-item:hover{
      background-color: rgb(240, 240, 240);
      -webkit-transition: background-color 300ms linear;
      -ms-transition: background-color 300ms linear;
      transition: background-color 300ms linear;
  }
}