<!--
  Generated template for the ChatBubble component.

  See https://angular.io/docs/ts/latest/api/core/index/ComponentMetadata-class.html
  for more info on Angular 2 Components.
-->
<div class="chat-bubble">
    <!-- <img class="profile-pic {{position}}" src="{{img}}"> -->
    <div class="chat-bubble {{position}}">
      <div class="message">{{content}}</div>
      <div class="message-detail">    
           <!--  <span style="font-weight:bold;">- {{senderName}} </span> -->
            <!-- <span>{{time}}</span> -->
      </div>
    </div>
</div>