<!--
  Generated template for the Slider component.

  See https://angular.io/docs/ts/latest/api/core/index/ComponentMetadata-class.html
  for more info on Angular 2 Components.
-->

<ion-slides>

	<ion-slide>
		<img src="http://www.seagars.co.nz/images/400x500/profiles/Seagars_profile_IanC.jpg">

		<ion-fab left bottom>
			<button ion-fab mini color="light"><ion-icon name="camera"></ion-icon></button>
		</ion-fab>

	</ion-slide>

	<ion-slide>
		<img src="http://www.vxaz.com/wp-content/uploads/2016/06/426d8e58-1c8c-4dbd-adaa-56d103d8a868-400x500.jpg">

		<ion-fab left bottom>
			<button ion-fab mini color="light"><ion-icon name="camera"></ion-icon></button>
		</ion-fab>

	</ion-slide>

	<ion-slide>
		<img src="http://www.avidaportuguesa.com/public/uploads/products/loi%C3%A7a/resized/chavena%20%20branca%20fina%20%20%20site-400x500.jpg">
	
		<ion-fab left bottom>
			<button ion-fab mini color="light"><ion-icon name="camera"></ion-icon></button>
		</ion-fab>
	
	</ion-slide>

	<ion-slide>
		<img src="http://livecomm.com.br/siteNovo/wp-content/uploads/2015/08/import_placeholder-400x500.png">
	
		<ion-fab left bottom>
			<button ion-fab mini color="light"><ion-icon name="add"></ion-icon></button>
		</ion-fab>
	
	</ion-slide>

</ion-slides>
