<!--
  Generated template for the AppHeader component.

  See https://angular.io/docs/ts/latest/api/core/index/ComponentMetadata-class.html
  for more info on Angular 2 Components.
-->

<ion-toolbar>
  <ion-buttons start>
     <button ion-button icon-only (click)='goToProfile()'>
       <ion-icon name="contact" color="primary"></ion-icon>
     </button>
   </ion-buttons>
    <ion-title color="primary">AppZone</ion-title>
     <ion-buttons end>
        <button (click)="goToFindGroups()" ion-button icon-only>
          <ion-icon name="pin" color="primary"></ion-icon>
        </button>
      </ion-buttons>
</ion-toolbar>
